/* App Fonts */

@font-face {
    font-family: "TTNorms";
    src: url("../fonts/TTNorms-Regular.otf") format("openType");
}
@font-face {
    font-family: "TTNorms Medium";
    src: url("../fonts/TTNorms-Medium.otf") format("openType");
}
@font-face {
    font-family: "TTNorms Light";
    src: url("../fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
    font-family: "Times Roman Italic";
    src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
}

/* Normalize Css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/images/9.jpg);
    background-repeat: no-repeat;
    background-size: 100% 745px;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0; /* 3 */
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* Start Project */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "TTNorms";
}

.container {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
.header{
    margin-bottom: 10rem;

}

.header-top{
    margin-top: 1.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}
.nav{
    display: flex;
    align-items: center;

}
.nav-logo{
    margin:1rem 3rem;
    /* background-color: #555;
    box-shadow: 0 0 10px 10px #555; */
    
}
.nav-logo img{
    width: 5rem;
}
.menu{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.menu__items{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}
.nav__items{
    text-decoration: none;
    padding: 0 1rem;
    color: #fff;
}
.contact{
    text-decoration: none;
    color: #fff;
    background-color: rgb(0, 98, 255);
    padding: .6rem 1.2rem;
    border-radius: 5px;
    margin:1rem 3rem;
}
.header-icon{
    display: none;
    position: fixed;
    width: 2rem;
    height: 2rem;
    color:  rgb(0, 98, 255);
    left: 2rem;
    top: 2rem;
}
/* Home page */
#homePage{
 
}
.cover{
    width: 100%;
    height: 745px;
    background-color: rgba(0,0,0,.8);
    display:block;
    margin-top: -1.5rem;
}
.companyName{
    font-family: 'Abril Fatface';
    font-size: 7rem;
    color: #fff;
    text-shadow: -.3rem -.3rem 1rem #222;
    display: flex;
    padding: 0;
    margin-top: -9rem;
    transform: none;
    transition: all 2s ease 0s;
    box-sizing: border-box;
    /* font-family: 'Signika Negative', sans-serif; */
}
.slong{
    font-family: 'Abril Fatface';
    font-size: 3rem;
    margin-top: .5rem;
    color: #64DD17;
    text-shadow: -.3rem -.3rem 1rem #000;
    margin-top: -4rem;
}
/* header bottom  */
.header-bottom{
    /* padding: 9rem 0 0 2rem; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 745px;
}
.header-content{
    display: flex;
    flex-wrap: wrap;
}
.header-content-left, .header-content-right{
    flex-basis: 50%;
    align-items: center;
}
.header-content__wraper{
    max-width: 28rem;    
}
.header-title{

}
.header-text{
    line-height: 2rem;
}
.header-links{
    margin-top: 2.5rem;   
    display: flex;
}
.header-link{
    text-decoration: none;
    color: #fff;
    background-color: rgb(0, 98, 255);
    padding: .6rem 1.2rem;
    border-radius: 5px;
    margin-right: 1rem;
    display: block;
    width: 10rem;
    text-align: center;

}

.header-img{

}

/* start main content work */
.main .container{
    height: 745px;
}

.works{
    display: flex;
    justify-content: space-around;
    max-width: 70rem;

}
.work-content{
    text-align: center;
    max-width: 15rem;
  
    
}
.work-text{
    margin-bottom: 0;

}
.work-title{
    margin-top: .5rem;
    padding: .4rem;
    background-color: rgb(0, 98, 255);
    border-radius: .2rem;
    color: #fff
}
.work-detail{
    line-height: 1.5rem;

}
.work-img{
   max-width: 31rem;
   margin:0 auto;
}
.work-img__img{
    width: 100%;
}


/* start comment */
.comment-container{
    max-width: 70rem;
    margin: 3.5rem auto;
}
.person-comments{
    background-color: #29B6F6;
    text-align: center;
    margin-top: 4rem;
    min-height: 25rem;
    padding: 2rem 0;
    
}
.comments-title{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    
}
.comments-text{
    margin-top: 0;
    margin-bottom: 3rem;
    font-family: "TTNorms Light";
}
.comments{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.comment{
    margin: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 18rem;
    flex-basis: 20rem;
}
.comment-content{
    text-align: left;
    padding: 1.2rem;
}
.comment-body{
line-height: 1.5rem;
font-family: "Times Roman Italic";
color: #7e8085;
margin: 0;

}
.comment-info{
    border-top: 1px solid #29B6F6;
    display: flex;
    height: 1.9rem;
    align-items: center;
    padding: 1rem;
    text-align: left;
}
.comment-img{
}
.comment-person{
    margin: 0 0 0 0.5rem;  
    color: #000;

}


/* start portfolio */
.person-portfolio{
    text-align: center;
    margin-top: 5rem;
}
.portfolio-text{
    font-size: 1.5rem;
}
.portfolio-title{
    font-size: 2rem;
}
.portfolio-items{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.5rem 0;
}
.portfplio-item{
    margin: 1rem;
}
.portfolio-img{
    border-radius: .5rem;
}
/* start footer */
.footer{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.newsletter{
    background-color: #1976D2;

}
.newsletter-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}
.newsletter-text{
    
}
.newsleter-email{
    background-color: #fff;
    flex-basis: 18rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.email{
    padding: 1rem;
    width: 100%;
    border: none;
    outline: none;
}
.submit{
    margin-right: .3rem;
    height: 3rem;
    width: 4rem;
    border-radius: .6rem;
    background-color: #1976D2;
}
.copyright{
display: flex;
justify-content: space-between;
padding: 0 9rem;
align-items: center;
}
.copyright p{
    color: #7e8080;
}

.menu{
    border: 1px solid #fff;
    border-radius: 1rem;
    width: 9rem;
    display: flex;
    flex-direction: column;
    background-color: #7e8080;
    padding:1rem 0;
    box-shadow: 1px 1px 10px #fff;
}
.menu a{
    /* background-color:#7e8080; */
    width: 100%;
    margin: 0;
    padding:5px 9px;
    color: #fff;
    font-size: 1.2rem;
    transition: .5s;
}
.menu :hover> a{
    background-color:#fff;
    color: #7e8080;
}

.menu-items{
    text-decoration: none;
    display: flex;
}

/* Project Responsive */

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .portfolio-items{
        justify-content: space-around;
    }
    .header-content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .header-content-left, .header-content-right{
        /* flex-basis: 50%; */
    }
    .header-content__wraper {
        max-width: 28rem;
    }
    .header-links{
        display: flex;
        
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .contact{
        display: none;
    }
    .header-content{
        flex-direction: row;
      
    }
    #about{
        width: 100%;
        display: flex;


    }
    .header-content-left, .header-content-right{
        flex-basis: 100%;
    }
    .header-links{
        /* justify-content: center;
        align-content: center; */
        
    }
    .header-bottom{
        justify-content: center;
        
    }

.works{
    display: flex;
    justify-content: space-around;
    max-width: 70rem;
    gap: .5rem;
}
.work-content{
    text-align: center;
    max-width: 15rem;
    background-color: #29B6F6;
    padding: .5rem;
    border-radius: .5rem;
    
}
.portfolio-items{
    padding: 0 auto;
}
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;

    }
    .menu{
        flex-direction: column;
        background-color: rgba(33, 150, 243, 0.9);
        padding: 1.5rem 0 0 0;
        position: fixed;
        top: -1rem;
        left: -22rem;
        width: 18rem;
        padding: 4.5em 1rem 1rem 3rem;
        border-radius: .5rem;
        transition: .7s;
        
    }
    .menu__items{
        margin-bottom: .2rem;
        font-size: 1.1rem;
        padding: .5rem;
        border-radius: .5rem;
        background-color: #1770ca;
    }
    .nav__items{
        color: #fff;
        text-shadow: 2px 2px 4px #111;
    }

    .header-icon{
        display:block;
        position: fixed;
        top: 1rem;
        left: 2rem;
        border: 2px solid #1770ca;
        background-color: #438fdc;
        color: #fff;
        border-radius: .3rem;
    }
    .nav-logo__img{
        display: none;

    }
}
@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}
